# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
HomeLightsControl/src/NetCreds.h
/ESPTimeTest
/ESP32transmitter
/ESP32transmitterSimple
/HomeLightsControl/.vscode
/HomeLightsControl/.pio
HomeLightsControl/include/NetCreds.h
/HomeLightsControl/PCB

# Visual Studio
/TimedActionsLanguage/LightsInstructons/.vs
/TimedActionsLanguage/LightsInstructons/LightsIn.f1c0969e
*.slnx
*.vcxproj
*.filters
*.user
/TimedActionsLanguage/LightsInstructons/x64
/TimedActionsLanguage/LightsInstructons/UnitTests/x64
TimedActionsLanguage/LightsInstructons/UnitTests/pch.cpp
TimedActionsLanguage/LightsInstructons/UnitTests/pch.h
